@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

.body-section{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    line-height: 22px;
    background-color: #FCFCFC;
}
.head{
    text-transform: uppercase;
    margin-bottom: 20px;
}